<h1 class="campaign-title">
  Pets Campaign
</h1>

<header class="campaigns">
  <div class="campaign-wrapper" (click)="selectCampaign($event.target)">
                <span class="button active" data-click="8afd1f5a-c999-4935-8291-412ea8756f1d">
                    PETS CAMPAIGN
                </span>
  </div>

  <div class="campaign-wrapper" (click)="selectCampaign($event.target)">
                <span class="button" data-click="facf1e61-24ff-41c9-afc8-54837ab17327">
                    FOOD CAMPAIGN
                </span>
  </div>

  <div class="campaign-wrapper" (click)="selectCampaign($event.target)">
                <span class="button" data-click="f21695d8-64ec-40c0-9830-9310919533ec">
                    PLANTS CAMPAIGN
                </span>
  </div>

  <div class="campaign-wrapper">
    <label>
      <input type="checkbox" id="filter" name="filter">
      filter
    </label>
  </div>
</header>

<main class="page-wrapper" *ngIf="campaigns$ | async as campaigns">

  <!-- AD's item open -->
  <app-card *ngFor="let campaign of campaigns"
            [campaign]="campaign">

  </app-card>
  <!--<section>-->
  <!--<div class="card-wrapper">-->
  <!--<div class="card-image">-->
  <!--<img src="{{campaign.image}}" alt="Doggo"/>-->
  <!--</div>-->

  <!--<div class="card__info">-->
  <!--<h3>-->
  <!--{{campaign.title}}-->
  <!--</h3>-->

  <!--<input type="checkbox" name="trigger" id="trigger">-->
  <!--<label class="trigger-arrow" for="trigger">-->
  <!--<span></span>-->
  <!--</label>-->

  <!--<div class="card__info__extra">-->
  <!--<p>-->
  <!--{{campaign.description}}-->
  <!--</p>-->

  <!--<div class="card__action">-->
  <!--<a class="button" href="#">-->
  <!--Go for it!-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</section>-->
  <!-- AD's item close -->

  <!-- AD's item open -->
  <!--<section>-->
  <!--<div class="card-wrapper ">-->
  <!--<div class="card-image">-->
  <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/>-->
  <!--</div>-->

  <!--<div class="card__info">-->
  <!--<h3>-->
  <!--Doggo Dogg-->
  <!--</h3>-->

  <!--<input type="checkbox" name="trigger" id="trigger2">-->
  <!--<label class="trigger-arrow" for="trigger2">-->
  <!--<span></span>-->
  <!--</label>-->

  <!--<div class="card__info__extra">-->
  <!--<p>-->
  <!--A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.-->
  <!--</p>-->

  <!--<div class="card__action">-->
  <!--<a class="button" href="#">-->
  <!--Go for it!-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</section>-->
  <!--&lt;!&ndash; AD's item close &ndash;&gt;-->

  <!--&lt;!&ndash; AD's item open &ndash;&gt;-->
  <!--<section>-->
  <!--<div class="card-wrapper ">-->
  <!--<div class="card-image">-->
  <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/>-->
  <!--</div>-->

  <!--<div class="card__info">-->
  <!--<h3>-->
  <!--Doggo Dogg-->
  <!--</h3>-->

  <!--<input type="checkbox" name="trigger"  id="trigger3">-->
  <!--<label class="trigger-arrow" for="trigger3">-->
  <!--<span></span>-->
  <!--</label>-->

  <!--<div class="card__info__extra">-->
  <!--<p>-->
  <!--A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.-->
  <!--</p>-->

  <!--<div class="card__action">-->
  <!--<a class="button" href="#">-->
  <!--Go for it!-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</section>-->
  <!--&lt;!&ndash; AD's item close &ndash;&gt;-->

  <!--&lt;!&ndash; AD's item open &ndash;&gt;-->
  <!--<section>-->
  <!--<div class="card-wrapper ">-->
  <!--<div class="card-image">-->
  <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/>-->
  <!--</div>-->

  <!--<div class="card__info">-->
  <!--<h3>-->
  <!--Doggo Dogg-->
  <!--</h3>-->

  <!--<input type="checkbox" name="trigger"  id="trigger4">-->
  <!--<label class="trigger-arrow" for="trigger4">-->
  <!--<span></span>-->
  <!--</label>-->

  <!--<div class="card__info__extra">-->
  <!--<p>-->
  <!--A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.-->
  <!--</p>-->

  <!--<div class="card__action">-->
  <!--<a class="button" href="#">-->
  <!--Go for it!-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</section>-->
  <!--&lt;!&ndash; AD's item close &ndash;&gt;-->

  <!--&lt;!&ndash; AD's item open &ndash;&gt;-->
  <!--<section>-->
  <!--<div class="card-wrapper ">-->
  <!--<div class="card-image">-->
  <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/>-->
  <!--</div>-->

  <!--<div class="card__info">-->
  <!--<h3>-->
  <!--Doggo Dogg-->
  <!--</h3>-->

  <!--<input type="checkbox" name="trigger"  id="trigger5">-->
  <!--<label class="trigger-arrow" for="trigger5">-->
  <!--<span></span>-->
  <!--</label>-->

  <!--<div class="card__info__extra">-->
  <!--<p>-->
  <!--A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.-->
  <!--</p>-->

  <!--<div class="card__action">-->
  <!--<a class="button" href="#">-->
  <!--Go for it!-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</section>-->
  <!--&lt;!&ndash; AD's item close &ndash;&gt;-->


  <!--&lt;!&ndash; AD's item open &ndash;&gt;-->
  <!--<section>-->
  <!--<div class="card-wrapper ">-->
  <!--<div class="card-image">-->
  <!--<img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/567707/dog.png" alt="Doggo"/>-->
  <!--</div>-->

  <!--<div class="card__info">-->
  <!--<h3>-->
  <!--Doggo Dogg-->
  <!--</h3>-->

  <!--<input type="checkbox" name="trigger"  id="trigger6">-->
  <!--<label class="trigger-arrow" for="trigger6">-->
  <!--<span></span>-->
  <!--</label>-->

  <!--<div class="card__info__extra">-->
  <!--<p>-->
  <!--A very good boi that loves playing fetch and ice-cream! Gentle with everyone. Scared of the rain.-->
  <!--</p>-->

  <!--<div class="card__action">-->
  <!--<a class="button" href="#">-->
  <!--Go for it!-->
  <!--</a>-->
  <!--</div>-->
  <!--</div>-->
  <!--</div>-->

  <!--</div>-->
  <!--</section>-->
  <!--&lt;!&ndash; AD's item close &ndash;&gt;-->

</main>
